<section class="feature-page community-page">

    <div class="feature-banner admin-feature-banner">

        <div class="container">

            <h2>
                Walk through the Features in the Spurtcommerce eCommerce Solution
            </h2>

            <p>
                The features in Spurtcommerce V.4.2 is the result of a thought process, keeping in mind the interest of
                eCommerce End-Users, eCommerce Business Owners as well as the Developers. The features within the
                solution have been developed with a motive to offer a seamless experience to our valuable Users of
                Spurtcommerce. Now, relax and enjoy the usability of Spurtcommerce.
            </p>
        </div>

    </div>

</section>
<div class="container-fluid demo-tech">

    <h3>Our State-of-the-art Solution, built on the cutting-edge technologies, for achieving high performance</h3>

    <div class="flex demo-tech-col">
        <a href="javascript:void(0)"> <img src="https://www.spurtcommerce.com/img/demo-node.png"> </a>

        <a href="javascript:void(0)" class="demo-ang"> <img src="https://www.spurtcommerce.com/img/demo-angular.png"> </a>
        <a href="javascript:void(0)"> <img src="https://www.spurtcommerce.com/img/demo-mysql.png"> </a>
        <a href="javascript:void(0)"> <img src="https://www.spurtcommerce.com/img/demo-npm.png"> </a>

    </div>

</div>
<div class="container-fluid demo-use">

    <div class="container">
        <h3 class="hthree-style">
            Explore how our Single Vendor Solution can help your eCommerce business need
        </h3>
        <div class="du-row flex">

            <div class="du-col du-col-lft">
                <h3>Store Front </h3>
                <span></span>
                <p>The store front features within Spurtcommerce for a flawless shopping experience for End-Users.</p>
                <a href="https://www.spurtcart.com" target="_blank"> View Demo </a>
            </div>
            <!--  -->

            <div class="du-and">
                <img src="https://www.spurtcommerce.com/img/and-circle.svg">
            </div>
            <!--  -->

            <div class="du-col du-col-rht">
                <h3>Admin </h3>
                <span></span>
                <p>
                    The features within Spurtcommerce Admin for a hassle-free control over the Website and Mobile App.
                </p>
                <a href="https://admin.spurtcart.com" target="_blank"> View Demo </a>
            </div>
            <!--  -->

        </div>
        <!--  -->

        <h3 class="hthree-style">
            Develop any Multi-Vendor B2B, B2C and C2C eCommerce Concepts like Amazon, Alibaba, Udemy, Swiggy and OLX
        </h3>
        <div class="du-row flex">

            <div class="du-col du-col-lft">
                <h3>Admin Control Panel </h3>
                <span></span>
                <p>
                    To easily manage Vendors, Products, Sales, Orders and Payments.
                </p>
                <a href="javascript:void(0)"
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/spurtcommerce/multivendor'});return false;">
                    Schedule Demo </a>
            </div>
            <!--  -->

            <div class="du-and">
                <img src="https://www.spurtcommerce.com/img/and-circle.svg">
            </div>
            <!--  -->

            <div class="du-col du-col-rht">
                <h3>Vendor Panel </h3>
                <span></span>
                <p>
                    To upload and sell anything that they want to, ranging from products, services, food items to online
                    courses. </p>
                <a href="javascript:void(0)"
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/spurtcommerce/multivendor'});return false;">
                    Schedule Demo </a>
            </div>
            <!--  -->

        </div>
        <!--  -->

    </div>

</div>
<div class="container-fluid demo-wrapper demo-faq">

    <div class="container">

        <h2 class="demo-title">Frequently asked questions</h2>

        <!-- Row -->
        <div class="row">

            <div class="faq-column">

                <div class="col-lg-5 col-sm-12 col-xs-12">

                    <h3>Why should I use Spurtcommerce 4.2 instead of other open source solutions?
                    </h3>

                </div>
                <!-- Left -->

                <div class="col-lg-7 col-sm-12 col-xs-12">

                    <p>
                        I do agree that Spurtcommerce 4.2 has only the standard basic eCommerce features. What makes
                        this solution unique is the technology stack on which it is built. It is built on the futuristic
                        technologies of NodeJS and Angular. NodeJS is an asynchronous powerful framework that can make
                        an eCommerce application 10x faster than other websites. The end result will be a light weight
                        application that guarantees minimum time for page upload and 0.01 percent downtime. Angular
                        offers an excellent UX/UI with very good user-friendliness, along with a good SEO compatibility.

                    </p>

                </div>
                <!-- Right -->

            </div>

        </div>
        <!-- Row -->

        <!-- Row -->
        <div class="row">

            <div class="faq-column">

                <div class="col-lg-5 col-sm-12 col-xs-12">

                    <h3>
                        Can you customize and add the features?
                    </h3>

                </div>
                <!-- Left -->

                <div class="col-lg-7 col-sm-12 col-xs-12">

                    <p>
                        Yes, we do understand that eCommerce requirement of every business owner is unique, while
                        Spurtcommerce 4.2 has standard eCommerce features. If your business is unique, we shall take a
                        detailed requirement from you on the features you are looking for. Then, we shall analyze the
                        requirement and provide customization services accordingly. After customization, the final
                        eCommerce product you will be getting will be exclusive for you and we shall not distribute it
                        to any other Customer of ours. For customization services, you may send an email to
                        support@spurtcommerce.com.

                    </p>

                </div>
                <!-- Right -->

            </div>

        </div>
        <!-- Row -->


        <!-- Row -->
        <div class="row">

            <div class="faq-column">

                <div class="col-lg-5 col-sm-12 col-xs-12">

                    <h3>

                        How do I download Spurtcommerce 'Pro'?


                    </h3>

                </div>
                <!-- Left -->

                <div class="col-lg-7 col-sm-12 col-xs-12">

                    <p>
                        Once purchased, you will receive an access key to your registered email. On entering the access
                        key, you will be validating your purchase, which will then allow you to download the
                        Spurtcommerce 'Pro'. With the same access key, you may download any version of Spurtcommerce,
                        even the future upgrades and versions too, for life time. However, the license will be provided
                        for using the solution for single domain only.

                    </p>

                </div>
                <!-- Right -->

            </div>

        </div>
        <!-- Row -->
        <!-- Row -->
        <div class="row">

            <div class="faq-column">

                <div class="col-lg-5 col-sm-12 col-xs-12">

                    <h3>

                        What does the purchase of Spurtcommerce 'Pro' include?


                    </h3>

                </div>
                <!-- Left -->

                <div class="col-lg-7 col-sm-12 col-xs-12">

                    <p>
                        On purchase of Spurtcommerce 'Pro' and validating your access key, you will receive the below
                        mentioned files with complete source code of the following modules. <br>
                        1) Admin.zip<br>
                        2) Api.zip<br>
                        3) Store.zip<br>
                        4) spurtcommerce.sql<br>

                    </p>

                </div>
                <!-- Right -->

            </div>

        </div>
        <!-- Row -->
        <!-- Row -->
        <div class="row">

            <div class="faq-column">

                <div class="col-lg-5 col-sm-12 col-xs-12">

                    <h3>

                        Do you provide any extended support?


                    </h3>

                </div>
                <!-- Left -->

                <div class="col-lg-7 col-sm-12 col-xs-12">

                    <p>
                        Spurtcommerce 'Pro' has been completely tested for bugs to make it zero defect and bug free.
                        However, should you encounter any bug, or should you face any issues in installation or
                        deployment process, kindly connect with the Spurt team and they shall help you out.

                    </p>

                </div>
                <!-- Right -->

            </div>

        </div>
        <!-- Row -->
        <!-- Row -->
        <div class="row">

            <div class="faq-column">

                <div class="col-lg-5 col-sm-12 col-xs-12">

                    <h3>

                        How do I purchase Spurtcommerce 'Pro?


                    </h3>

                </div>
                <!-- Left -->

                <div class="col-lg-7 col-sm-12 col-xs-12">

                    <p>
                        1. Visit <a
                            href="https://www.spurtcommerce.com/nodejs-shoppingcart-ecommerce-download">https://www.spurtcommerce.com/nodejs-shoppingcart-ecommerce-download</a><br>
                        2. Find 'Get the latest Pro Edition : Spurtcommerce 4.2 ( LTS )'<br>
                        3. Click on the 'Pay Now' option below the features listed on the right hand side.<br>
                        4. It will navigate you to the page, where you will find a simple form. <br>
                        5. Fill in the form with your details and agree to the Terms &amp; Conditions.<br>
                        6. Click on the 'Pay now with PayPal' option. <br>
                        7. Pay with your PayPal account and own the Spurtcommerce 'Pro' license.

                    </p>

                </div>
                <!-- Right -->

            </div>

        </div>
        <!-- Row -->

        <!-- Row -->
        <div class="row">

            <div class="faq-column">

                <div class="col-lg-5 col-sm-12 col-xs-12">

                    <h3>
                        I own a Physical Store and I want to have an eCommerce website for my business. However, I do
                        not have any technical knowledge?
                    </h3>

                </div>
                <!-- Left -->

                <div class="col-lg-7 col-sm-12 col-xs-12">

                    <p>
                        Do not worry that you do not have any technical knowledge, when you are an entrepreneur and a
                        good businessman. You have still landed at the right page. You may use Spurtcommerce 4.2 for
                        getting a robust eCommerce website for your business. The team of Spurtcommerce is always ready
                        to help people with no or less coding knowledge. We shall develop a powerful eCommerce
                        application for your business using Spurtcommerce 4.2. For availing our development services,
                        kindly write to support@spurtcommerce.com.

                    </p>

                </div>
                <!-- Right -->

            </div>

        </div>
        <!-- Row -->

        <!-- Row -->
        <div class="row">

            <div class="faq-column">

                <div class="col-lg-5 col-sm-12 col-xs-12">

                    <h3>
                        Will you be adding new features to the solution in future?
                    </h3>

                </div>
                <!-- Left -->

                <div class="col-lg-7 col-sm-12 col-xs-12">

                    <p>
                        We do understand that eCommerce is one of the industries, which has seen a tremendous change in
                        the trends in these years and it is growing at an unprecedented rate all over the globe. We need
                        to be always on our toes when it comes to improving the solution and upgrading the solution with
                        newer and more features to catch up with the latest eCommerce trends. We shall constantly make
                        improvements and bring upgraded versions to the solution.

                    </p>

                </div>
                <!-- Right -->

            </div>

        </div>
        <!-- Row -->

        <!-- Row -->
        <div class="row">

            <div class="faq-column">

                <div class="col-lg-5 col-sm-12 col-xs-12">

                    <h3>
                        Will the Spurtcommerce solution I have downloaded get automatically upgraded to the newer
                        version, every time when a new version is released?
                    </h3>

                </div>
                <!-- Left -->

                <div class="col-lg-7 col-sm-12 col-xs-12">

                    <p>
                        No, the solution will not get automatically upgraded. Whenever there is a release of new and
                        improved version of Spurtcommerce, we shall intimate you on the release through email, along
                        with the link to download and upgrade the existing version of the solution to the new version.

                    </p>

                </div>
                <!-- Right -->

            </div>

        </div>
        <!-- Row -->
        <!-- Row -->
        <div class="row">

            <div class="faq-column">

                <div class="col-lg-5 col-sm-12 col-xs-12">

                    <h3>
                        Can I make modifications to the solution and sell it?
                    </h3>

                </div>
                <!-- Left -->

                <div class="col-lg-7 col-sm-12 col-xs-12">

                    <p>
                        Spurtcommerce 4.2 is a 'Community Version' and this means, it is free to download and free to
                        use, for a cause of making the eCommerce development process faster and hassle-free, among the
                        Developers' community. When you got the solution for free, then, every other person should also
                        get the solution for free, with or without modifications. Selling this solution is strictly
                        prohibited.
                    </p>

                </div>
                <!-- Right -->

            </div>

        </div>
        <!-- Row -->
    </div>

</div>