.community-page {
    padding: 100px 0 0px;
    margin: 0;
}
.admin-feature-banner {
    background: #f8f8f8;
    padding: 40px 0;
}
.feature-banner {
    text-align: center;
    // padding: 30px 0 0;
    // background: url(https://www.spurtcommerce.com/img/feature-bg.jpg) center 80% no-repeat;
    // background-size: cover;
    color: #fff;
}
.community-page .admin-feature-banner h2 {
    font-size: 44px;
}
.admin-feature-banner h2 {
    color: #026e00;
    font-weight: 300;
    font-size: 2.5em;
}
.admin-feature-banner p {
    color: #333;
    font-weight: 300;
    width: 80%;
    margin: 0 auto 30px;
    font-size: 1.5em;
}
.community-page .admin-feature-banner p {
    font-size: 16px;
}
.demo-tech {
    background-color: #02ad00;
    padding: 34px 0;
    width: 100%;
}
.demo-tech h3 {
    text-align: center;
    font-size: 19px;
    color: #fff;
    font-weight: 400;
    margin: 0 0 15px;
}
.demo-tech-col {
    justify-content: center;
    align-items: center;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.demo-tech-col a {
    padding: 0 20px;
}
.demo-tech-col a.demo-ang {
    padding: 0 93px;
}
.demo-tech-col a.demo-ang img {
    width: 127px;
}
.demo-use {
    background-color: #fff;
    padding: 50px 0 0;
    width: 100%;
}
.demo-use .hthree-style {
    padding: 10px 0;
}
h3, .h3 {
    font-size: 24px;
}
.du-row {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.du-col-lft {
    padding-right: 60px;
}
.du-col {
    width: calc(50% - 31px);
}
.du-col h3 {
    font-size: 36px;
    color: #253540;
    font-weight: 500;
    margin: 0 0 15px;
}
.du-col span {
    display: block;
    width: 100px;
    height: 2px;
    background: #ddd;
}
.du-col p {
    font-size: 18px;
    color: #253540;
    font-weight: 300;
    margin: 25px 0;
}
.du-col a {
    display: block;
    width: 165px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    box-shadow: 0 3px 0 0 #186d3c;
    background-color: #23a45a;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    margin: 0px 0;
    text-align: center;
}
.du-and {
    width: 62px;
}
img {
    width: auto;
    max-width: 100%;
}
.du-col-rht {
    padding-left: 60px;
}
.du-row {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.demo-faq {
    padding-top: 30px;
}
.demo-faq .demo-title {
    font-weight: 400;
}
.demo-title {
    text-align: center;
    font-size: 36px;
    color: #222;
    font-weight: 300;
    margin: 10px 0 40px;
    padding-bottom: 40px;
    border-bottom: solid thin #ddd;
}
.faq-column {
    float: left;
    width: 100%;
    border-bottom: solid thin #ddd;
    padding: 30px 0;
    margin-bottom: 20px;
}
.demo-faq .faq-column h3 {
    font-weight: 500;
}
.faq-column h3 {
    font-size: 24px;
    color: #222;
    font-weight: 400;
    margin: 0;
    padding-right: 25px;
    line-height: 30px;
}
.demo-faq .faq-column p {
    font-size: 16px;
    line-height: 36px;
}
.faq-column p {
    font-size: 16px;
    color: #222;
    font-weight: 300;
    margin: 0;
    padding-right: 25px;
    line-height: 30px;
}
@media (min-width: 1200px){
.col-lg-7 {
    width: 58.33333333%;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
.col-lg-5 {
    width: 41.66666667%;
}
}
.demo-tech-col a:first-child img {
    width: 80px;
}
.demo-tech-col a:last-child img {
    width: 89px;
}
@media screen and (max-width: 768px){
.community-page {
    padding: 80px 0 0px;
    margin: 0;
}
.community-page .admin-feature-banner h2 {
    padding-top: 60px;
}
}
@media (max-width: 576px) {
.community-page .admin-feature-banner h2 {
    font-size: 36px;
}
.demo-tech-col a {
    width: 100%;
    text-align: center;
}
.demo-tech-col a.demo-ang {
    padding: 25px 0;
}
.demo-tech-col a {
    width: 100%;
    text-align: center;
}
.du-col-lft {
    width: 100%;
    padding-right: 0;
}
.du-and {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}
.du-col-rht {
    width: 100%;
    padding-left: 0;
}
}   
.col-xs-12 {
    width: 100%;
}