<div class="gdlr-core-pbf-wrapper " style="padding: 20px 0px 70px 0px;">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js" style="padding: 80px 0px 70px 0px;text-align: center;">
        <div class="gdlr-core-pbf-wrapper-container" style="max-width: 770px;">
            <div class="gdlr-core-block-item-title-inner">
                <h3 class="gdlr-core-block-item-title"
                    style="font-size: 26px;text-transform: none;letter-spacing: 0px;color: #e24b99;">What Clients Say?
                </h3>
            </div>
            <div class="gdlr-core-testimonial clearfix">
                <div class="gdlr-core-testimonial-content-wrap">
                    <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content"
                        style="font-size: 20px;">
                        <p>When i was visited to india in 2013 . i have requirement of online shopping store and i met with
                            4Square Logic IT Solution and they people give me complete solution.</p>
                    </div>
                    <div class="gdlr-core-testimonial-author-wrap clearfix">
                        <div class="gdlr-core-testimonial-author-content">
                            <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">MANDEEP
                                SINGH/U.K</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gdlr-core-pbf-background-wrap">
        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
            data-parallax-speed="0.14"></div>
    </div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 76px 0px 0px 0px;">
                    <div class="gdlr-core-pbf-background-wrap">
                        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                            style="background-image: url(http://www.4squarelogic.com/wp-content/uploads/2016/06/hp1-price-title-bg-1.png);background-repeat: no-repeat;background-position: center;"
                            data-parallax-speed="0"></div>
                    </div>
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js " style="max-width: 680px;">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                                style="padding-bottom: 15px;">
                                <div class="gdlr-core-title-item-title-wrap ">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title"
                                        style="font-size: 40px;font-weight: 500;letter-spacing: 0px;text-transform: none;color: #e24b99;">
                                        Service Plans<span
                                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal"
                                style="padding-bottom: 27px;">
                                <div class="gdlr-core-divider-container gdlr-core-center-align"
                                    style="max-width: 80px;">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                                        style="border-color: #ff4800;border-bottom-width: 3px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 40px 0px 0px 0px;">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-price-table-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix "
                                id="gdlr-core-price-table-74482">
                                <div class="gdlr-core-price-table-column gdlr-core-column-20">
                                    <div class="gdlr-core-price-table ">
                                        <div class="gdlr-core-price-table-head">
                                            <div class="gdlr-core-price-table-icon"><i class="icon_genius"></i></div>
                                            <h3 class="gdlr-core-price-table-title">Web Design &amp; Web Development
                                            </h3>
                                            <div class="gdlr-core-price-table-caption">Suitable For Small Business</div>
                                        </div>
                                        <div class="gdlr-core-price-table-price gdlr-core-title-font"><span
                                                class="gdlr-core-price-prefix">$</span><span
                                                class="gdlr-core-price-table-price-number">299</span></div>
                                        <div class="gdlr-core-price-table-content-wrap">
                                            <div class="gdlr-core-price-table-content">
                                                <div class="gdlr-core-price-list-shortcode">
                                                    <ul>
                                                        <li><i class="fa fa-check"></i>Web Design &amp; Web Development
                                                        </li>
                                                        <li><i class="fa fa-check"></i>Php Development</li>
                                                        <li><i class="fa fa-check"></i>E-Commerce Services</li>
                                                        <li><i class="fa fa-check"></i>ASP.Net Development</li>
                                                        <li><i class="fa fa-check"></i>Wordpress Designs</li>
                                                    </ul>
                                                </div>
                                            </div><a class="gdlr-core-price-table-button gdlr-core-button"
                                                data-toggle="modal" data-target="#VendorModal">Get Quote</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-price-table-column gdlr-core-column-20">
                                    <div class="gdlr-core-price-table gdlr-core-active">
                                        <div class="gdlr-core-price-table-head">
                                            <div class="gdlr-core-price-table-icon"><i class="fa fa-star-o"></i></div>
                                            <h3 class="gdlr-core-price-table-title">SEO/SMO/Digital Marketing</h3>
                                            <div class="gdlr-core-price-table-caption">Suitable For Pro</div>
                                        </div>
                                        <div class="gdlr-core-price-table-price gdlr-core-title-font"><span
                                                class="gdlr-core-price-prefix">$</span><span
                                                class="gdlr-core-price-table-price-number">299</span></div>
                                        <div class="gdlr-core-price-table-content-wrap">
                                            <div class="gdlr-core-price-table-content">
                                                <div class="gdlr-core-price-list-shortcode">
                                                    <ul>
                                                        <li><i class="fa fa-check"></i>Seach Engine Optimization</li>
                                                        <li><i class="fa fa-check"></i>Google Adwords/PPC</li>
                                                        <li><i class="fa fa-check"></i>Digital Marketing</li>
                                                        <li><i class="fa fa-check"></i>SMO (Social Media Optimization)
                                                        </li>
                                                        <li><i class="fa fa-check"></i>ORM (Online Reputation
                                                            Management)</li>
                                                    </ul>
                                                </div>
                                            </div><a class="gdlr-core-price-table-button gdlr-core-button"
                                                data-toggle="modal" data-target="#VendorModal">Get Quote</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-price-table-column gdlr-core-column-20">
                                    <div class="gdlr-core-price-table ">
                                        <div class="gdlr-core-price-table-head">
                                            <div class="gdlr-core-price-table-icon"><i class="icon_lightbulb_alt"></i>
                                            </div>
                                            <h3 class="gdlr-core-price-table-title">Mobile Application Development</h3>
                                            <div class="gdlr-core-price-table-caption">Suitable For Enterprise</div>
                                        </div>
                                        <div class="gdlr-core-price-table-price gdlr-core-title-font"><span
                                                class="gdlr-core-price-prefix">$</span><span
                                                class="gdlr-core-price-table-price-number">699</span></div>
                                        <div class="gdlr-core-price-table-content-wrap">
                                            <div class="gdlr-core-price-table-content">
                                                <div class="gdlr-core-price-list-shortcode">
                                                    <ul>
                                                        <li><i class="fa fa-check"></i>Android App Development</li>
                                                        <li><i class="fa fa-check"></i>IOS App Development</li>
                                                        <li><i class="fa fa-check"></i>Cross Platform App Development
                                                        </li>
                                                        <li><i class="fa fa-check"></i>Window App Development</li>
                                                        <li><i class="fa fa-check"></i>Tablet App Development</li>
                                                    </ul>
                                                </div>
                                            </div><a class="gdlr-core-price-table-button gdlr-core-button"
                                                data-toggle="modal" data-target="#VendorModal">Get Quote</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade admin-features-modal" id="VendorModal" tabindex="-1" role="dialog"
    aria-labelledby="multiVendorModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close closeMultiVendorModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="enquiry-column enquiry-right">
                    <form id="enquiryForm" class="enquiryForm" novalidate="">

                        <label>
                            <p>Name</p>
                            <input [(ngModel)]="modal.name" type="text" name="name">
                        </label>

                        <label>
                            <p>Email</p>
                            <input [(ngModel)]="modal.email" type="text" name="email">
                        </label>
                        <label>
                            <p>Phone Number</p>
                            <input [(ngModel)]="modal.phone" type="text" name="phone" class="lettersonlys"
                                maxlength="15">
                        </label>
                        <label>
                            <p>For Enquiry</p>

                            <div class="select" style="height: 3.5em;">

                                <select [(ngModel)]="modal.enquiry" name="enquiryOption" id="enquiryOption">
                                    <option value="I want to know more about Spurtcommerce.">I want to know more about
                                        Spurtcommerce.</option>
                                    <option value="I want to know about Single Vendor Web Solution.">I want to know
                                        about Single Vendor Web Solution.</option>
                                    <option value="I want to know about Multi-Vendor Web Solution.">I want to know about
                                        Multi-Vendor Web Solution.</option>
                                    <option value="I want to know about Single Vendor + Mobile App.">I want to know
                                        about Single Vendor + Mobile App.</option>
                                    <option value="I want to know about Multi-Vendor + Mobile App.">I want to know about
                                        Multi-Vendor + Mobile App.</option>
                                </select>
                            </div>
                        </label>

                        <label>
                            <p>Country</p>
                            <input [(ngModel)]="modal.country" type="text" name="country">

                        </label>

                        <label>
                            <p>Comment</p>
                            <textarea [(ngModel)]="modal.comments" rows="3" name="comments"></textarea>
                        </label>
                        <input type="hidden" name="_token" value="HEan9EWDzCQ2TL1i8l5E5ltgzCNT4CisbrQrs2w7">
                        <input type="hidden" name="enquiry" value="1">
                        <input type="hidden" name="shop" id="shop">

                        <div class="successmsg"
                            style="padding: 10px 20px 10px 10px;color: green;font-family: 'Rubik', sans-serif;"></div>



                        <button type="submit" (click)="sendMail()" class="enquiry enquirybtn">
                            Submit
                        </button>
                    </form>

                </div>
                <!-- <video width="100%" height="515" id="multiVendorVid" frameborder="0" controlsList="nodownload" controls allowfullscreen="">
                    <source  src="../../../assets/Manasat-App-Intro.mp4" type="video/mp4" />
                </video> -->

            </div>

        </div>
    </div>
</div>