.gdlr-core-pbf-wrapper {
    clear: both;
    padding: 60px 0px 30px;
    position: relative;
}
.seocrawler-body * {
    border-color: #e6e6e6;
}
.gdlr-core-pbf-background-wrap {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}
.gdlr-core-pbf-background {
    width: 100%;
    height: 100%;
}
.gdlr-core-pbf-wrapper-content {
    position: relative;
}
.enquiry-column {
    width: 100% !important;
}
.enquiry-right label {
    margin-bottom: 15px;
    display: block;
    width: 100%;
    font-weight: 400;
}
.enquiry-right label p {
    font-size: 14px;
    color: #002222;
    margin-bottom: 10px;
}
.enquiry-right label input, .enquiry-right label select, .enquiry-right label textarea {
    display: block;
    width: 100%;
    padding: 5px;
    border: solid thin #ddd;
    font-size: 14px;
    color: #333;
}
.select {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    line-height: 3;
    background: #fff;
    overflow: hidden;
    border-radius: .25em;
}
.gdlr-core-testimonial-content {
    font-style: italic;
    margin-bottom: 27px;
    font-size: 15px;
}
.gdlr-core-testimonial-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.gdlr-core-testimonial-content {
    color: #707070;
}
.gdlr-core-page-builder-body p {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: inherit;
}
.enquirybtn {
    width: 100%;
    padding: 10px;
    border: #089406;
    border-radius: 4px;
    background: #089406;
    color: #fff!important;
    text-align: center;
    text-transform: uppercase;
}
.seocrawler-body-front .gdlr-core-container, .seocrawler-body-front .seocrawler-container {
    padding-left: 40px;
    padding-right: 40px;
}
.gdlr-core-pbf-wrapper-container {
    margin-left: auto;
    margin-right: auto;
}
.clearfix {
    zoom: 1;
}
.seocrawler-container, .gdlr-core-container, body.seocrawler-boxed .seocrawler-body-wrapper, body.seocrawler-boxed .seocrawler-fixed-footer .seocrawler-footer-wrapper, body.seocrawler-boxed .seocrawler-fixed-footer .seocrawler-copyright-wrapper {
    max-width: 1320px;
}
.gdlr-core-pbf-column, .gdlr-core-pbf-column-content-margin {
    position: relative;
}
.gdlr-core-column-first {
    clear: left;
}
.gdlr-core-column-60 {
    float: none;
    width: 100%;
}
.gdlr-core-pbf-column-content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-height: 1px;
}
.gdlr-core-item-pdb {
    padding-bottom: 30px;
}
.gdlr-core-pbf-element {
    clear: both;
}
.gdlr-core-center-align {
    text-align: center;
}
.seocrawler-item-pdlr, .gdlr-core-item-pdlr {
    padding-left: 20px;
    padding-right: 20px;
}
.gdlr-core-column-20 {
    float: left;
    width: 33.3333%;
}
.gdlr-core-price-table-item .gdlr-core-price-table {
    text-align: center;
    margin: 45px 5px 0px;
}
.gdlr-core-price-table-item .gdlr-core-price-table {
    background-color: #f8f8f8;
}
.gdlr-core-price-table .gdlr-core-price-table-head {
    padding: 33px 20px;
}
#gdlr-core-price-table-74482 .gdlr-core-price-table .gdlr-core-price-table-head {
    background: #81ca41;
    background: -webkit-linear-gradient(#a4ca41, #81ca41);
    background: -o-linear-gradient(#a4ca41, #81ca41);
    background: -moz-linear-gradient(#a4ca41, #81ca41);
    background: linear-gradient(#a4ca41, #81ca41);
}
.gdlr-core-price-table .gdlr-core-price-table-icon {
    font-size: 51px;
    line-height: 1;
    margin-bottom: 32px;
    margin-top: 20px;
}
.gdlr-core-price-table .gdlr-core-price-table-title {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 6px;
}
.gdlr-core-price-table .gdlr-core-price-table-icon {
    color: #ffffff;
}
.gdlr-core-price-table .gdlr-core-price-table-title {
    color: #ffffff;
}
#gdlr-core-price-table-74482 .gdlr-core-price-table .gdlr-core-price-table-caption {
    color: #f8f8f8;
}
.gdlr-core-price-table .gdlr-core-price-table-price {
    line-height: 1;
    padding: 25px 20px 40px;
}
.gdlr-core-price-table .gdlr-core-price-table-price {
    background-color: #ebebeb;
}
.gdlr-core-price-table .gdlr-core-price-prefix {
    font-size: 25px;
    vertical-align: super;
}
.gdlr-core-price-table .gdlr-core-price-table-price-number {
    font-size: 60px;
    font-weight: 300;
    margin: 0px 8px;
    vertical-align: middle;
}
.gdlr-core-price-table .gdlr-core-price-table-price-number, .gdlr-core-price-table .gdlr-core-price-prefix {
    color: #323232;
}
.gdlr-core-price-table .gdlr-core-price-table-content-wrap {
    padding-bottom: 10px;
}
// .gdlr-core-price-table .gdlr-core-price-table-content {
//     padding: 10px 20px;
// }
.gdlr-core-price-table .gdlr-core-price-table-content * {
    border-color: #e5e5e5;
}
.gdlr-core-price-list-shortcode ul {
    margin: 0px 0px;
    padding: 0;
    list-style: none;
}
.gdlr-core-body .gdlr-core-load-more, .gdlr-core-body .gdlr-core-button, .seocrawler-body .seocrawler-button, .seocrawler-body input[type="button"], .seocrawler-body input[type="submit"] {
    color: #ffffff;
}
.gdlr-core-price-list-shortcode ul li {
    padding: 14px 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 0px;
}
.gdlr-core-price-list-shortcode ul li i {
    display: inline-block;
    width: 25px;
    margin-right: 8px;
}
#gdlr-core-price-table-74482 .gdlr-core-price-table .gdlr-core-price-table-button, #gdlr-core-price-table-74482 .gdlr-core-price-table .gdlr-core-price-table-button:hover {
    background: #81ca41;
}
.gdlr-core-price-table .gdlr-core-price-table-button {
    margin: 35px 0px;
}
.gdlr-core-price-table-item .gdlr-core-price-table.gdlr-core-active {
    margin-top: 0px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
}
#gdlr-core-price-table-74482 .gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-head {
    background: #33a3cf;
    background: -webkit-linear-gradient(#337dcf, #33a3cf);
    background: -o-linear-gradient(#337dcf, #33a3cf);
    background: -moz-linear-gradient(#337dcf, #33a3cf);
    background: linear-gradient(#337dcf, #33a3cf);
}
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-price {
    background-color: #ffffff;
}
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-content-wrap {
    padding-bottom: 30px;
}
#gdlr-core-price-table-74482 .gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-button, #gdlr-core-price-table-74482 .gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-button:hover {
    background: #33a4cf;
}
.gdlr-core-button {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    padding: 15px 33px;
    display: inline-block;
    -webkit-appearance: none;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
}
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-button, .gdlr-core-price-table .gdlr-core-price-table-button:hover {
    color: #ffffff;
}
.gdlr-core-title-item .gdlr-core-title-item-title-wrap {
    position: relative;
}
.gdlr-core-title-item .gdlr-core-title-item-title {
    font-size: 41px;
    font-weight: 800;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0px;
    transition: color 200ms;
    -moz-transition: color 200ms;
    -o-transition: color 200ms;
    -webkit-transition: color 200ms;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.gdlr-core-divider-item .gdlr-core-divider-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.gdlr-core-divider-item-normal .gdlr-core-divider-line {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.gdlr-core-pbf-column, .gdlr-core-pbf-column-content-margin {
    position: relative;
}
@media only screen and (max-width: 767px){
.gdlr-core-pbf-column-content-margin {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.gdlr-core-column-10, .gdlr-core-column-12, .gdlr-core-column-15, .gdlr-core-column-20, .gdlr-core-column-24, .gdlr-core-column-30, .gdlr-core-column-36, .gdlr-core-column-40, .gdlr-core-column-45, .gdlr-core-column-48, .gdlr-core-column-50, .gdlr-core-column-60 {
    width: 100%;
}
.gdlr-core-container {
    max-width: 500px;
    padding-left: 15px;
    padding-right: 15px;
}
.gdlr-core-price-table-item .gdlr-core-price-table {
    margin-top: 0px;
    margin-bottom: 30px;
}
}