<header>
    <nav class="navibar navibar-default navibar-fixed-top">
        <div class="container">
            <div class="navibar-header">
                <button type="button" data-toggle="collapse" data-target="#navibar-collapse-header"
                    class="navibar-toggle collapsed"><span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span></button>
                <a [routerLink]="['']" routerLinkActive="router-link-active" class="navibar-brand"><img
                        src="../../../../assets/logo.jpg"
                        title="OpenCart - Open Source Shopping Cart Solution" alt=""></a></div>
            <div class="collapse navibar-collapse" id="navibar-collapse-header">
                <ul class="nav navibar-nav">
                    <li><a [routerLinkActive]="['router-link-active']" [routerLink]="['/features']" routerLinkActive="router-link-active">Features</a></li>
                    <li><a [routerLink]="['/demo']" routerLinkActive="router-link-active" href="https://www.opencart.com/index.php?route=cms/demo">Demo</a></li>
                    <!-- <li><a href="https://www.opencart.com/index.php?route=marketplace/extension">Marketplace</a></li> -->
                    <li><a [routerLink]="['/plans']" routerLinkActive="router-link-active">Our Plans</a></li>
                    <li><a [routerLink]="['/about-us']" routerLinkActive="router-link-active">About Us</a></li>
                    <li><a [routerLink]="['/contact-us']" routerLinkActive="router-link-active">Contact Us</a></li>
                    <!-- <li style="position: unset !important;" class="dropdown"><a href="#" data-toggle="dropdown">Resources <span class="caret"></span></a> -->
                        <!-- <ul class="dropdown-menu top-bar-drop flex fetures-drop">
                            <li class="admin-features">
                                <a href="https://www.spurtcommerce.com/nodejs-angular-ecommerce-admin-features">
                                    <span class="af"> <img src="https://www.spurtcommerce.com/img/Admin-Feature.png"> </span>
                                    <h3> Admin Features</h3>
                                    <p class="admin-features">Admin features that gives you the control on the activities within the eCommerce website.</p>
        
                                </a>
                            </li>
                            <li class="store-feature">
                                <a href="https://www.spurtcommerce.com/angularjs-shopping-ecommerce-site-features">
                                    <span class="sf"> <img src="https://www.spurtcommerce.com/img/Store-Feature.png"> </span>
                                    <h3>Store Features</h3>
                                    <p>Store features using which your Customers can interact with the website to buy products.</p>
                                </a>
                            </li>
        
                            <li class="mobile-feature">
                                <a href="https://www.spurtcommerce.com/angularjs-shopping-ecommerce-mobile">
                                    <span class="mf"> <img src="https://www.spurtcommerce.com/img/Mobile-Feature.png" style="width: auto;height: 25px !important;"> </span>
                                    <h3> Mobile Features</h3>
                                    <p>The features in the Mobile App for a seamless Mobile Commerce experience.</p>
        
                                </a>
                            </li>
        
        
                            <li class="spurt-connect">
                                <a href="https://www.spurtcommerce.com/angularjs-shopping-ecommerce-spurtconnect">
                                    <span class="sc"> <img src="https://www.spurtcommerce.com/img/spurt-connect.svg"> </span>
                                    <h3>Spurt Connect</h3>
                                    <p>Choose and manage third party services in eCommerce website, through Admin Panel.</p>
                                </a>
                            </li>
        
                            <li class="admin-multivendor">
                                <a href="https://www.spurtcommerce.com/nodejs-shoppingcart-ecommerce-multi-vendor-feature">
                                    <span class="am"> <img src="https://www.spurtcommerce.com/img/multi-vendor.svg"> </span>
                                    <h3>Market Place </h3>
                                    <p>A robust back-end/Admin Control Panel for a seamless Vendor Portal Management.</p>
        
                                </a>
                            </li>
        
                            <li class="vendor-application">
                                <a href="https://www.spurtcommerce.com/nodejs-shoppingcart-ecommerce-vendor-dashboard">
                                    <span class="vp"> <img src="https://www.spurtcommerce.com/img/vendor-icon.svg"> </span>
                                    <h3>Vendor Panel</h3>
                                    <p>For a world-class online store on a Market place built on cutting-edge Angular and Node.</p>
                                </a>
                            </li>
                        </ul> -->
                        <!-- <ul class="dropdown-menu">
                            <li><a href="https://www.opencart.com/index.php?route=cms/download">Download</a></li>
                            <li><a href="https://www.opencart.com/index.php?route=cloud/landing">OpenCart Cloud</a></li>
                            <li><a href="https://www.opencart.com/index.php?route=support/contact">Contact Us</a></li>
                            <li><a href="https://www.opencart.com/index.php?route=support/partner">OpenCart Partners</a>
                            </li>
                            <li><a href="https://forum.opencart.com">Community Forums</a></li>
                            <li><a href="http://docs.opencart.com">OpenCart Documentation</a></li>
                            <li><a href="http://docs.opencart.com/#additional-reading">OpenCart Books</a></li>
                            <li><a href="https://github.com/opencart/opencart/issues">Github Bug Tracker</a></li>
                            <li><a href="http://docs.opencart.com/developer/module/">Developer</a></li>
                        </ul>
                    </li> -->
                    <!-- <li class="visible-xs"><a href="https://www.opencart.com/index.php?route=account/login">Login</a>
                    </li>
                    <li class="visible-xs"><a
                            href="https://www.opencart.com/index.php?route=account/register">Register</a></li> -->
                </ul>
                <!-- <div class="navibar-right hidden-xs"><a href="https://www.opencart.com/index.php?route=account/login"
                        class="btn btn-link navibar-btn">Login</a> <a
                        href="https://www.opencart.com/index.php?route=account/register"
                        class="btn btn-black navibar-btn">Register</a></div> -->
            </div>
        </div>
    </nav>
</header>