.navibar-default {
    background-color: #fff;
    border-color: #d7d8da;
}
.navibar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navibar-fixed-top, .navibar-fixed-bottom {
    position: fixed !important;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navibar {
    position: relative;
    min-height: 79px;
    margin-bottom: 0;
    border: 1px solid transparent;
}
.navibar-toggle {
    position: relative;
    float: right;
    margin-right: 0;
    padding: 9px 10px;
    margin-top: 22.5px;
    margin-bottom: 22.5px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
}
.navibar-default .navibar-toggle .icon-bar {
    background-color: #888;
}
.navibar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin-top: 3px;
    border-radius: 1px;
}
.nav:before, .nav:after {
    content: " ";
    display: table;
}
.navibar:before, .navibar:after {
    content: " ";
    display: table;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
.navibar-header:before, .navibar-header:after {
    content: " ";
    display: table;
}
.navibar-header:after {
    clear: both;
}
.navibar-header:before, .navibar-header:after {
    content: " ";
    display: table;
}
.navibar-collapse:before, .navibar-collapse:after {
    content: " ";
    display: table;
}
.nav:after {
    clear: both;
}
.nav:before, .nav:after {
    content: " ";
    display: table;
}
.navibar-collapse:after {
    clear: both;
}
.navibar-collapse:before, .navibar-collapse:after {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
.navibar:after {
    clear: both;
}
.navibar:before, .navibar:after {
    content: " ";
    display: table;
}
.nav {
    display: initial !important;
    flex-wrap: initial !important;
}
@media (min-width: 1200px) {
    .nav {
        width: 60%;
        justify-content: space-between;
        display: flex !important;
    }
}
@media screen and (max-width: 767px) {
header .navibar-fixed-top .navibar-collapse .navibar-nav {
    height: 100vh;
}
}
@media (min-width: 992px) {
.navibar-toggle {
    display: none;
}
.navibar-header {
    float: left;
}
// .navibar-nav {
//     flex-direction: unset !important;
//     width: 70%;
//     justify-content: space-between !important;
// }
// .navibar .container, .navibar .container-fluid, .navibar .container-lg, .navibar .container-md, .navibar .container-sm, .navibar .container-xl {
//     flex-wrap: initial !important;
// }
// .navibar-nav {
//     flex-direction: column !important;
//     width: auto !important;
//     justify-content: center !important;
// }
.navibar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
.navibar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}
.navibar-fixed-top .navibar-collapse, .navibar-static-top .navibar-collapse, .navibar-fixed-bottom .navibar-collapse {
    padding-left: 0;
    padding-right: 0;
}
.navibar-nav {
    float: left;
    margin: 0;
}
.navibar-nav>li {
    float: left;
}
.navibar-right {
    float: right!important;
    margin-right: 0;
}
}
header .navibar .navibar-right {
    margin-top: 3px;
}
header .navibar .navibar-right .btn {
    padding: 6px 16px;
}
.navibar-default .btn-link {
    color: #000;
}
.navibar-btn {
    margin-top: 16.5px;
    margin-bottom: 16.5px;
}
header .navibar .navibar-nav>li {
    margin-top: 26px;
}
header .navibar .navibar-nav>li a {
    color: black !important;
}
.visible-xs {
    display: none!important;
}
.nav>li {
    position: relative;
    display: block;
}
.navibar-default .navibar-toggle {
    border-color: #ddd;
}

header .navibar .navibar-brand {
    margin: 0 45px 0 0;
}
.navibar-default .navibar-brand {
    color: #000;
}
.navibar-brand {
    float: left;
    padding: 0;
    font-size: 18px;
    line-height: 25px;
    height: 79px;
}
header .navibar .navibar-brand img {
    // margin-top: 21px;
    height: 75px;
    width: auto;
}
.navibar-brand>img {
    display: block;
}
header .navibar-fixed-top .navibar-collapse {
    max-height: none;
}
.navibar-default .navibar-collapse, .navibar-default .navibar-form {
    border-color: #d7d8da;
}
// .navibar .container, .navibar .container-fluid, .navibar .container-lg, .navibar .container-md, .navibar .container-sm, .navibar .container-xl {
//     flex-wrap: initial !important;
// }
// .navibar-nav {
//     flex-direction: unset !important;
//     width: 70%;
//     justify-content: space-between !important;
// }
.btn-black {
    color: #000;
    background-color: transparent;
    border-color: #000;
}
header .navibar .navibar-brand{
    margin:0 45px 0 0
}


header .navibar .navibar-nav>li a{
    font-size:14px;
    line-height:1.3666;
    text-transform:uppercase;
    padding-top:8px;
    padding-bottom:8px
}
header .navibar .navibar-nav>li .btn{
    padding:7px 16px;
    font-size:15px;
    line-height:1.3666
}
header .navibar .navibar-nav>li .btn:focus,header .navibar .navibar-nav>li .btn:hover{
    color:#fff;
    background-color:#000;
    border-color:#000}
    @media screen and (max-width:991px){
        header .navibar .navibar-nav>li{
            margin-top:10px
        }
        header .navibar .navibar-nav>li:last-child{
            margin-bottom:10px
        }
    }
    header .navibar .navibar-right{
        margin-top:3px
    }header .navibar .navibar-right .btn{
        padding:6px 16px
    }
    header .navibar-fixed-top .navibar-collapse{
        max-height:none
    }
    @media screen and (max-width:767px){
        header .navibar-fixed-top .navibar-collapse .navibar-nav{
            height:100vh
        }
        .visible-xs {
            display: block!important;
        }
        .hidden-xs {
            display: none!important;
        }
    }
    footer{
        background-color:#242d37;
        padding:60px 30px;
        margin:70px 0 0;
        font-size:14px;
        color:#fff
    }
    @media screen and (min-width:768px){
        footer{
            padding:60px 0
        }
    }
    footer a{
        font-size:14px;color:#fff
    }
    footer a:focus,footer a:hover{
        color:#06b7f0;text-decoration:none
    }footer section h5{
        margin:0 0 20px;
        font-weight:400;
        color:#969fa8;
        letter-spacing:2px;
        text-transform:uppercase
    }
    @media screen and (max-width:767px){
        footer section h5{
            margin-top:30px;margin-bottom:4px
        }
    }
    footer section ul{
        margin:0
    }
    footer section li a{
        padding:3px 0;display:inline-block
    }
    footer #newsletter{
        margin-top:20px
    }
    @media screen and (min-width:768px){
        footer #newsletter{margin-top:0}
    }
    footer #newsletter .input-group{
        display:block
    }
    footer #newsletter .form-control{
        height:42px;border:none;
        padding-right:55px;border-radius:3px;
        display:block;
        float:none
    }
    footer #newsletter .input-group-btn{
        position:absolute;right:0;
        top:5px;bottom:5px;
        padding:0 5px;
        border-left:1px solid #e2e4e8;
        display:block;width:49px;
        height:32px;z-index:99
    }
    footer #newsletter .input-group-btn .btn{
        width:38px;height:32px;
        line-height:30px;padding:0;
        text-align:center;
        font-size:24px;margin:0;
        border-radius:3px
    }
    footer #copyright{
        padding-top:20px;color:#969fa8
    }
    footer #copyright ul{
        margin:0
    }
    footer #copyright li{
        display:inline-block;
        vertical-align:middle
    }
    footer #copyright img{
        max-height:26px;
        width:auto;
        margin-right:30px
    }
    footer #social{
        padding-top:20px;
        text-align:right
    }
    @media screen and (max-width:767px){
        footer #social{
            text-align:center
        }
    }
    footer #social li{
        display:inline-block;
        padding:0 15px
    }
    footer #social li.facebook-marketing-partner-logo img{
        width:100px
    }
    footer #social li:first-child{
        padding-left:0
    }footer #social li:last-child{
        padding-right:0
    }a:hover,a:focus,a:active{
        text-decoration:none
    }
    .gray,.container-fluid{
        background-color:#f4f5f7
    }
    .page-header{
        height:250px;
        margin:0 0 60px;
        text-align:center;
        color:#fff;
        background-repeat:no-repeat;
        background-size:cover;
        border-bottom:0
    }
    .page-header div{
        position:relative;
        top:33%
    }
    .page-header div h1{
        font-size:40px;margin:0;
        color:#fff
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    @media (min-width: 768px){
    .fetures-drop {
    margin-left: 75px !important;
    }
    }
    .dropdown-menu.fetures-drop li {
        width: 30%;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px dashed;
        border-top: 4px solid \9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }
    .page-header div p{
        font-size:24px;margin:5px 0 0;
        font-weight:300
    }
    @media screen and (max-width:767px){
        .page-header div h1{
            font-size:28px
        }
        .page-header div p{
            font-size:17px
        }
    }