.enquiry-top-header {
    background: #f8f8f8;
    padding-top: 100px;
}
#information-details h2 {
    margin-top: 0;
    text-align: center;
}
.contact-page {
    text-align: center;
    padding: 146px 0 10px;
}
#information-details .container {
    margin-top: 50px;
    margin-bottom: 50px;
}
.col-xs-2 {
    width: 16.66667%;
}
.col-xs-10 {
    width: 83.33333%;
}
#information-details h2 {
    margin-top: 0;
    text-align: center;
}
#information-details p {
    color: #4b525d;
}
.enquiry-top-header h1 {
    font-size: 44px;
    color: #026e00;
    font-weight: 300;
}
@media (max-width: 767px){
.enquiry-column {
    width: 100% !important;
}
}
.enquiry-top-header p {
    font-size: 16px;
    color: #333;
    font-weight: 300;
    width: 80%;
    margin: 0 auto 30px;
}
.enquiry-page {
    margin: 0;
    padding: 0;
    text-align: left;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.enquiry-wrapper {
    justify-content: flex-start;
}
.enquiry-left {
    // background: #2D2926;
    background: #F4F4F4;
}
.enquiry-column {
    width: 50%;
    padding: 40px 60px;
}
.enquiry-left a, .enquiry-left a:hover {
    padding-left: 0px;
}
.ftr-column-bd a, .ftr-column-bd a:hover, .enquiry-left a, .enquiry-left a:hover {
    background: none;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.navbar-brand > img {
    display: block;
}
img {
    width: auto;
    max-width: 100%;
}
.logo-top-version {
    margin-top: -17px !important;
    float: right;
    font-size: 13px;
    color: #969696;
}
.enquiry-left h3 {
    padding-top: 60px;
    font-size: 27px;
    font-weight: 300;
    color: #2D2926;
    margin: 40px 0;
}
.enquiry-left ul.e-left-desc {
    display: block;
}
.enquiry-left ul.e-left-desc li {
    display: block;
    font-size: 14px;
    color: #2D2926;
    font-weight: 300;
    margin: 10px 0;
    position: relative;
    padding-left: 15px;
}
.enquiry-left ul.e-left-desc li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #2D2926;
}
.enquiry-right {
    background: #F4F4F4;
}
.enquiry-right label {
    margin-bottom: 15px;
    display: block;
    width: 100%;
    font-weight: 400;
}
.enquiry-right label p {
    font-size: 14px;
    color: #002222;
    margin-bottom: 10px;
}
.enquiry-right label input, .enquiry-right label select, .enquiry-right label textarea {
    display: block;
    width: 100%;
    padding: 5px;
    border: solid thin #ddd;
    font-size: 14px;
    color: #333;
}
.select {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    line-height: 3;
    background: #fff;
    overflow: hidden;
    border-radius: .25em;
}
.enquirybtn {
    width: 100%;
    padding: 10px;
    border: #089406;
    border-radius: 4px;
    background: #089406;
    color: #fff!important;
    text-align: center;
    text-transform: uppercase;
}