<section class="contact-page enquiry-top-header">
    <div id="information-details">
        <div id="about">
            <div class="container">
                <div style="justify-content: center;" class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <section>
                            <h2>What is OpenCart?</h2>
                            <p>Opencart is an easy to-use, powerful, Open Source online store management program that
                                can manage multiple online stores from a single back-end. Administrative area simply by
                                filling in forms and clicking “Save”. There are many professionally-written extensions
                                available to customize the store to your needs.</p>
                            <p>An OpenCart store can be ready to take orders soon after installation. All you have to do
                                is have it installed for you (any web hosts do it for free), select a template form the
                                many free or low-cost template sites, and your product descriptions and photos, click a
                                few settings, and you are ready to begin accepting orders. Our free Installation &amp;
                                Quick Start chapters show you how.</p>
                            <p>The public side or “Storefront” of OpenCart looks very professional and ready to sell
                                almost as soon as it is installed.</p>
                        </section>
                        <section>
                            <h2>Why OpenCart?</h2>
                            <p>Meet OpenCart:<br>
                                FREE, open-source and easy to use ecommerce platform!</p>
                            <p>No monthly fees, no catches; just an effective and customizable platform for your new
                                ecommerce store. Simply install, choose your template, and add products and you’re ready
                                to start accepting orders.</p>
                            <p>Stick with the modern, responsive default theme or choose from thousands of themes online
                                to make your store unique and perfectly suited for your business.</p>
                            <p>OpenCart comes with a fully mobile friendly admin area, complete with detailed product,
                                order and customer management, sales reports, marketing tools and even more - allowing
                                you to manage every aspect of your new online store from any device, anywhere in the
                                World. Use the quick and concise dashboard to keep track of your sales, or choose from
                                one of the many menu options to view more detail.</p>
                            <p>With a huge range of features included out-of- the-box and over 14,000 additional
                                extensions available to download, OpenCart is perfect for ecommerce stores of any size,
                                any industry, any budget.</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <h1>Enquire with us Now</h1>

        <p>Whatever your need be, Spurtcommerce can become the best eCommerce Development Partner.</p>

    </div>

</section>
<section class="contact-page enquiry-page btspace" style="padding-bottom: 50px;">

    <div class="flex enquiry-wrapper">

        <div class="enquiry-column enquiry-left">
            <a href="https://spurtcommerce.com/stgv4" class="navbar-brand">
                <img src="https://www.spurtcommerce.com/img/logov4.0.png">
                <span class="logo-top-version">V 4.2</span>
            </a>

            <h3>Why Spurtcommerce?</h3>

            <ul class="e-left-desc">
                <li>A NodeJS and Angular eCommerce platform.</li>
                <li>A complete Open source solution.</li>
                <li>Source code that can be tweaked for any eCommerce requirement.</li>
                <li>Absolutely free to download.</li>
                <li>A community to support Spurtcommerce to thrive.</li>
                <li>Save 2000+ hours of efforts on development and get a ready-to-customize eCommerce platform as quickly and easily. </li>
            </ul>
            <h3> Why Nodejs eCommerce platform?</h3>
            <ul class="e-left-desc">
                <li>To ensure high performance.</li>
                <li>To support unlimited product upload without affecting the speed.</li>
                <li>To increase the speed of eCommerce website by 10 times.</li>
                <li>For a fast eCommerce website that takes less time to load.</li>
                <li>For an easy migration from online shopping cart to mobile shopping cart.</li>
            </ul>
        </div>
        <!-- Left -->

        <div class="enquiry-column enquiry-right">
            <form id="enquiryForm" class="enquiryForm" novalidate="">

                <label>
                    <p>Name</p>
                    <input [(ngModel)]="modal.name" type="text" name="name">
                </label>

                <label>
                    <p>Email</p>
                    <input [(ngModel)]="modal.email" type="text" name="email">
                </label>
                <label>
                    <p>Phone Number</p>
                    <input [(ngModel)]="modal.phone" type="text" name="phone" class="lettersonlys" maxlength="15">
                </label>
                <label>
                    <p>For Enquiry</p>

                    <div class="select" style="height: 3.5em;">

                        <select [(ngModel)]="modal.enquiry" name="enquiryOption" id="enquiryOption">
                            <option value="I want to know more about Spurtcommerce.">I want to know more about Spurtcommerce.</option>
                            <option value="I want to know about Single Vendor Web Solution.">I want to know about Single Vendor Web Solution.</option>
                            <option value="I want to know about Multi-Vendor Web Solution.">I want to know about Multi-Vendor Web Solution.</option>
                            <option value="I want to know about Single Vendor + Mobile App.">I want to know about Single Vendor + Mobile App.</option>
                            <option value="I want to know about Multi-Vendor + Mobile App.">I want to know about Multi-Vendor + Mobile App.</option>
                        </select>
                    </div>
                </label>

                <label>
                    <p>Country</p>
                    <input [(ngModel)]="modal.country" type="text" name="country">

                </label>

                <label>
                    <p>Comment</p>
                    <textarea [(ngModel)]="modal.comments" rows="3" name="comments"></textarea>
                </label>
                <input type="hidden" name="_token" value="HEan9EWDzCQ2TL1i8l5E5ltgzCNT4CisbrQrs2w7">
                <input type="hidden" name="enquiry" value="1">
                <input type="hidden" name="shop" id="shop">

                <div class="successmsg" style="padding: 10px 20px 10px 10px;color: green;font-family: 'Rubik', sans-serif;"></div>

                

                <button type="submit" (click)="sendMail()" class="enquiry enquirybtn">
                    Submit
                </button>
            </form>

        </div>
        <!-- Right -->

    </div>

</section>