.multi-funnel-wrap {
    background-color: #f1f1ee;
    padding: 100px 20px;
}
.multi-funnel-wrap h2 {
    font-size: 40px;
    font-weight: 500;
    color: #525555;
    line-height: 1.25;
    margin: 40px 0 40px;
    text-align: center;
}
.multi-funnel-wrap p {
    font-size: 22px;
    font-weight: normal;
    color: #4e4e4e;
    line-height: 1.59;
    margin: 0px 0 30px;
}
.multi-funnel-wrap h3 {
    font-size: 30px;
    font-weight: 500;
    color: #525555;
    line-height: 1.33;
    margin: 0px 0 30px;
    text-align: left;
}
ul.mfl-list {
    width: 900px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
ul.mfl-list li {
    width: 45%;
    padding: 4px 0px 4px 32px;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.82;
    color: #4e4e4e;
    position: relative;
}
ul.mfl-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 14px;
    width: 23px;
    height: 23px;
    background: url(https://www.spurtcommerce.com/img/check-circle.svg) no-repeat;
}
.multi-today-wrap {
    padding: 40px 20px;
    background: white;
}
.multi-today-wrap h2 {
    font-size: 35px;
    font-weight: 500;
    color: #525555;
    line-height: 1.25;
    margin: 40px 0 40px;
    text-align: center;
}
ul.mtl-list {
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 0 40px;
}
ul.mtl-list li {
    width: 31%;
    padding: 4px 0px 4px 15px;
    font-size: 22px;
    font-weight: normal;
    line-height: 2.27;
    color: #000;
    position: relative;
}
.multi-today-wrap p {
    font-size: 22px;
    font-weight: normal;
    color: #4e4e4e;
    line-height: 1.59;
    margin: 0px 0 40px;
}
.multi-fem-wrap {
    background-color: #68ab3a;
    padding: 22px 20px;
}
.multi-fem-wrap h2 {
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    line-height: 1.10;
    margin: 40px 0 40px;
    text-align: left;
}
.mfw-two {
    justify-content: space-between;
    align-items: center;
}
.multi-fem-wrap h4 {
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    line-height: 1.04;
    margin: 40px 0 40px;
    text-align: center;
}
.mfwt-col {
    width: 45%;
    margin-bottom: 30px;
}
.mfw-three {
    justify-content: space-around;
}
.mfwte-col {
    width: 30%;
    margin-bottom: 50px;
}
.mfwte-col h3 {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    line-height: 1.3;
    margin: 0px 0 27px;
    text-align: center;
}
.mfwte-col p {
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    line-height: 1.2;
    margin: 0px 0 0px;
    text-align: left;
}
.multi-geru-wrap {
    background-color: #f1f1ee;
    padding: 40px 20px;
}
.multi-geru-wrap h2 {
    font-size: 35px;
    font-weight: 500;
    color: #000000;
    line-height: 1.2;
    margin: 0px 0 15px;
    text-align: center;
}
.multi-geru-wrap p {
    font-size: 22px;
    font-weight: normal;
    color: #4e4e4e;
    line-height: 1.45;
    margin: 0px 0 40px;
    text-align: left;
}
.mgw-img {
    text-align: center;
    margin-bottom: 40px;
}
.multi-bp-wrap {
    padding: 40px 20px;
    background: #fff;
}
.multi-bp-wrap h2 {
    font-size: 30px;
    font-weight: 400;
    color: #4e4e4e;
    line-height: 1.03;
    margin: 0px 0 30px;
    text-align: center;
}
ul.mbpl-list {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 0 40px;
}
ul.mbpl-list li {
    width: 45%;
    padding: 4px 0px 4px 15px;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.41;
    color: #4e4e4e;
    position: relative;
}
.community-page {
    padding: 100px 0 0px;
    margin: 0;
}
.multi-banner {
    background: #68ab3a;
    padding: 39px 39px 0 39px;
}
.multi-banner h2 {
    font-size: 48px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    line-height: 1.04;
    max-width: 1024px;
    margin: 30px auto 20px;
}
.multi-banner p {
    font-size: 25px;
    font-weight: normal;
    color: #d3ff56;
    text-align: center;
    line-height: 1;
    max-width: 802px;
    margin: 0 auto;
}
.multi-banner-img {
    width: 100%;
    margin: 0 auto;
    max-width: 90%;
    position: relative;
    top: 30px;
}
.multi-banner-img img {
    width: auto;
    max-width: 100%;
}
.play-circle {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@media screen and (max-width: 768px){
.community-page {
    padding: 130px 0 0px;
    margin: 0;
}
}
ul.mbpl-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 17px;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
}
.feature-banner img {
    margin-top: 40px;
}
@media (max-width: 1024px) {
ul.mfl-list {
    width: 100%;
}
.multi-banner h2 {
    margin: 60px auto 20px;
    max-width: 100%;
}
.multi-banner p {
    max-width: 100%;
}
}
@media (max-width: 768px) {
.multi-banner .container, .events-wrap .container, .multi-funnel-wrap .container, .multi-today-wrap .container, .multi-fem-wrap .container, .multi-geru-wrap .container, .multi-bp-wrap .container, .multi-acc-wrap .container {
    width: 100%;
}
}
@media (max-width: 576px) {
.multi-funnel-wrap p, .multi-today-wrap p, .multi-geru-wrap p {
    font-size: 18px;
}
.multi-banner {
    padding: 39px 10px 0 10px;
}
.multi-banner h2 {
    font-size: 30px;
}

ul.mfl-list li, ul.mtl-list li, .mfwt-col, .mfwte-col, ul.mbpl-list li {
    width: 100%;
    font-size: 18px;
}
ul.mfl-list li, ul.mtl-list li, .mfwt-col, .mfwte-col, ul.mbpl-list li {
    width: 100%;
    font-size: 18px;
}
}
img {
    width: auto;
    max-width: 100%;
}