footer{
    background-color:#242d37;
    padding:60px 30px;
    margin:70px 0 0;
    font-size:14px;
    color:#fff
}
@media screen and (min-width:768px){
    footer{
        padding:60px 0
    }
}
footer a{
    font-size:14px;color:#fff
}
footer a:focus,footer a:hover{
    color:#06b7f0;text-decoration:none
}footer section h5{
    margin:0 0 20px;
    font-weight:400;
    color:#969fa8;
    letter-spacing:2px;
    text-transform:uppercase
}
@media screen and (max-width:767px){
    footer section h5{
        margin-top:30px;margin-bottom:4px
    }
}
footer section ul{
    margin:0
}
footer section li a{
    padding:3px 0;display:inline-block
}
footer #newsletter{
    margin-top:20px
}
@media screen and (min-width:768px){
    footer #newsletter{margin-top:0}
}
footer #newsletter .input-group{
    display:block
}
footer #newsletter .form-control{
    height:42px;border:none;
    padding-right:55px;border-radius:3px;
    display:block;
    float:none;
    width: 100%;
}
footer #newsletter .input-group-btn{
    position:absolute;right:0;
    top:5px;bottom:5px;
    padding:0 5px;
    border-left:1px solid #e2e4e8;
    display:block;width:49px;
    height:32px;z-index:99
}
footer #newsletter .input-group-btn .btn{
    width:38px;
    height:32px;
    line-height:30px;padding:0;
    text-align:center;
    font-size:24px;margin:0;
    border-radius:3px
}
footer #copyright{
    padding-top:20px;color:#969fa8
}
footer #copyright ul{
    margin:0
}
footer #copyright li{
    display:inline-block;
    vertical-align:middle
}
footer #copyright img{
    max-height:26px;
    width:auto;
    margin-right:30px
}
footer #social{
    padding-top:20px;
    text-align:right
}
@media screen and (max-width:767px){
    footer #social{
        text-align:center
    }
}
footer #social li{
    display:inline-block;
    padding:0 15px
}
footer #social li.facebook-marketing-partner-logo img{
    width:100px
}
footer #social li:first-child{
    padding-left:0
}footer #social li:last-child{
    padding-right:0
}a:hover,a:focus,a:active{
    text-decoration:none
}
.gray,.container-fluid{
    background-color:#f4f5f7
}