<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <section>
                    <h5>OpenCart</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://www.opencart.com/index.php?route=cms/feature">Features</a></li>
                        <li><a href="https://www.opencart.com/index.php?route=cloud/landing">OpenCart Cloud</a></li>
                        <li><a href="https://www.opencart.com/index.php?route=cms/showcase">Showcase</a></li>
                        <li><a href="https://www.opencart.com/index.php?route=cms/demo">Demo</a></li>
                        <li><a href="https://www.opencart.com/index.php?route=cms/download">Download</a></li>
                        <li><a href="https://www.opencart.com/index.php?route=marketplace/extension">Marketplace</a>
                        </li>
                        <li><a href="https://www.opencart.com/index.php?route=account/login">Download Feature</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-sm-2">
                <section>
                    <h5>Company</h5>
                    <ul class="list-unstyled">
                        <li><a [routerLink]="['/contact-us']" routerLinkActive="router-link-active">Contact Us</a></li>
                        <li><a [routerLink]="['/about-us']" routerLinkActive="router-link-active">About Us</a></li>
                        <li><a href="https://www.opencart.com/index.php?route=cms/information&amp;information_id=2">Extension
                                Developer</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-sm-2">
                <section>
                    <h5>Support</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://forum.opencart.com">Community Forum</a></li>
                        <li><a href="https://dedicated.opencart.com">Dedicated Support</a></li>
                        <li><a href="https://www.opencart.com/index.php?route=support/partner">OpenCart Partners</a>
                        </li>
                        <li><a href="https://www.opencart.com/index.php?route=support/support">Marketplace Support</a>
                        </li>
                        <li><a href="https://www.opencart.com/index.php?route=cms/cart2cart">Migrate to OpenCart</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="col-sm-2">
                <section>
                    <h5>Resources</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://www.opencart.com/blog">OpenCart Blog</a></li>
                        <li><a href="http://docs.opencart.com">OpenCart Documentation</a></li>
                        <li><a href="http://docs.opencart.com/#additional-reading">OpenCart Books</a></li>
                        <li><a href="https://github.com/opencart/opencart/issues">Github Bug Tracker</a></li>
                        <li><a href="http://docs.opencart.com/developer/module/">Developer</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-sm-2 col-md-4">
                <section id="newsletter">
                    <h5>Newsletter</h5>
                    <p>Subscribe to our newsletters and stay informed of new releases and other OpenCart events.</p>
                    <div class="input-group newsletter">
                        <input type="text" name="newsletter" value="" placeholder="Enter your email address"
                            class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary subscribe"><i
                                    class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div id="copyright">
                    <ul class="list-unstyled">
                        <li class="company-logo"><img src="../../../../assets/logo.jpg"
                                alt="OpenCart" title="OpenCart"></li>
                        <li class="copyright-text">© Copyright 2020 OpenCart</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div id="social">
                    <ul class="list-unstyled">
                        <li class="facebook-marketing-partner-logo"><a
                                href="https://www.facebook.com/fmp/commerce/partner-badge" target="_blank"><img
                                    src="https://www.opencart.com/application/view/image/icon/facebook_marketing_partner.png"
                                    alt="Facebook Marketing Partner" title="Facebook Marketing Partner"></a></li>
                        <li><a href="https://www.linkedin.com/company/5224021/" target="_blank">Linkedin</a></li>
                        <li><a href="https://www.facebook.com/opencart/?ref=aymt_homepage_panel"
                                target="_blank">Facebook</a></li>
                        <li><a href="https://twitter.com/opencart" target="_blank">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>