<div id="cms-information">
    <div class="page-header">
        <div class="container">
            <h1>Company</h1>
        </div>
    </div>
    <div id="information-details">
        <div id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <section>
                            <h2>What is OpenCart?</h2>
                            <p>Opencart is an easy to-use, powerful, Open Source online store management program that
                                can manage multiple online stores from a single back-end. Administrative area simply by
                                filling in forms and clicking “Save”. There are many professionally-written extensions
                                available to customize the store to your needs.</p>
                            <p>An OpenCart store can be ready to take orders soon after installation. All you have to do
                                is have it installed for you (any web hosts do it for free), select a template form the
                                many free or low-cost template sites, and your product descriptions and photos, click a
                                few settings, and you are ready to begin accepting orders. Our free Installation &amp;
                                Quick Start chapters show you how.</p>
                            <p>The public side or “Storefront” of OpenCart looks very professional and ready to sell
                                almost as soon as it is installed.</p>
                        </section>
                        <section>
                            <h2>Why OpenCart?</h2>
                            <p>Meet OpenCart:<br>
                                FREE, open-source and easy to use ecommerce platform!</p>
                            <p>No monthly fees, no catches; just an effective and customizable platform for your new
                                ecommerce store. Simply install, choose your template, and add products and you’re ready
                                to start accepting orders.</p>
                            <p>Stick with the modern, responsive default theme or choose from thousands of themes online
                                to make your store unique and perfectly suited for your business.</p>
                            <p>OpenCart comes with a fully mobile friendly admin area, complete with detailed product,
                                order and customer management, sales reports, marketing tools and even more - allowing
                                you to manage every aspect of your new online store from any device, anywhere in the
                                World. Use the quick and concise dashboard to keep track of your sales, or choose from
                                one of the many menu options to view more detail.</p>
                            <p>With a huge range of features included out-of- the-box and over 14,000 additional
                                extensions available to download, OpenCart is perfect for ecommerce stores of any size,
                                any industry, any budget.</p>
                        </section>
                    </div>
                </div>
            </div>
            <div id="milestone" class="container-fluid">
                <div class="container">
                    <section>
                        <h2>Milestones</h2>

                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary label-check"> <i class="fa fa-check"></i> </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="date">
                                    <h3>November 2016</h3>
                                </div>
                                <div id="november-2016" class="event">
                                    <div>OpenCart.com website update</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary"> <i class="fa fa-bar-chart label-success"></i> </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="date">
                                    <h3>May 2016</h3>
                                </div>
                                <div id="may-2016" class="event">
                                    <div>OpenCart number of websites using opencart software reaches 342,000 and
                                        surpassed magento by 90,000 sites.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary label-bookmark"> <i
                                        class="fa fa-bookmark label-warning"></i> </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="date">
                                    <h3>September 2015</h3>
                                </div>
                                <div id="septemver-2015" class="event">
                                    <div>There are now 15 books written about OpenCart.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary"> <i class="fa fa-bar-chart label-success"></i> </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="date">
                                    <h3>Year 2015</h3>
                                </div>
                                <div id="year-2015" class="event">
                                    <div>OpenCart reaches 300 000+ live sites.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary label-check"> <i class="fa fa-check label-primary"></i>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="date">
                                    <h3>September 2014</h3>
                                </div>
                                <div id="september-2014" class="event">
                                    <div>OpenCart mentioned in Forbes article “3 Steps To Launch Your First eCommerce
                                        Website” and was recommended over shopify because it had more functionality and
                                        customisable features.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary label-bookmark"> <i
                                        class="fa fa-bookmark label-warning"></i> </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="date">
                                    <h3>Year 2014</h3>
                                </div>
                                <div id="year-2014" class="event">
                                    <div>OpenCart 2.0 released</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary"> <i class="fa fa-bar-chart label-success"></i> </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="year-2014" class="event">
                                    <div>Over 10,000 extensions added to OpenCart’s extension store</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary"> <i class="fa fa-trophy label-success"></i> </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="date">
                                    <h3>Year 2013</h3>
                                </div>
                                <div id="year-2013" class="event">
                                    <div>OpenCart reaches no.1 position in Asia as the most popular used ecommerce
                                        script.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary"> <i class="fa fa-bar-chart label-success"></i> </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="year-2013" class="event">
                                    <div>OpenCart reaches 231,624 live sites.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary label-check"> <i class="fa fa-check label-primary"></i>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="date">
                                    <h3>November 2012</h3>
                                </div>
                                <div id="november-2012" class="event">
                                    <div>OpenCart mentioned in Forbes</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary label-check"> <i class="fa fa-check label-primary"></i>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="date">
                                    <h3>June 2012</h3>
                                </div>
                                <div id="june-2012" class="event">
                                    <div>Registered OpenCart as an business in Hong Kong.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary label-bookmark"> <i
                                        class="fa fa-bookmark label-warning"></i> </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="date">
                                    <h3>Year 2012</h3>
                                </div>
                                <div id="year-2012" class="event">
                                    <div>OpenCart 1.5 released</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary"> <i class="fa fa-bar-chart label-success"></i> </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="date">
                                    <h3>Year 2011</h3>
                                </div>
                                <div id="year-2011" class="event">
                                    <div>OpenCart reaches 51,601 live sites.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary label-bookmark"> <i
                                        class="fa fa-bookmark label-warning"></i> </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="date">
                                    <h3>October 2010</h3>
                                </div>
                                <div id="october-2010" class="event">
                                    <div>First book published about OpenCart called the “OpenCart 1.4 Beginner’s Guide”.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary label-check"> <i class="fa fa-check label-primary"></i>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="october-2010" class="event">
                                    <div>Added OpenCart extension store to opencart.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary label-check"> <i class="fa fa-check label-primary"></i>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="date">
                                    <h3>May to November 2006</h3>
                                </div>
                                <div id="may-november-2006" class="event">
                                    <div>Released OpenCart v0.3 on sourceforge.net</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline" class="col-xs-2 col-md-2 col-md-offset-1">
                                <div class="label label-primary label-check"> <i class="fa fa-check label-primary"></i>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-8">
                                <div id="date">
                                    <h3>November 2005</h3>
                                </div>
                                <div id="november-2005" class="event">
                                    <div>Registered domain name opencart.com</div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div id="team" class="container">
                <section>
                    <h2>Our Team</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <p><img src="https://image.opencart.com/original/5836c0705c1f7.jpg" alt="Daniel Kerr"
                                    title="" class="img-rounded"></p>
                            <p>Daniel</p>
                        </div>
                        <div class="col-xs-6 col-md-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p><img src="https://image.opencart.com/original/5836b1ba102fd.jpg" alt="Kelly Kerr"
                                            title="" class="img-rounded"></p>
                                    <p>Kelly</p>
                                </div>
                                <div class="col-xs-4">
                                    <p><img src="https://image.opencart.com/original/5836ba980c4bd.jpg" alt="Andy Tsang"
                                            title="" class="img-rounded"></p>
                                    <p>Andy</p>
                                </div>
                                <div class="col-xs-4">
                                    <p><img src="https://image.opencart.com/original/5837a505071c5.jpg" alt="Beth Ho"
                                            title="" class="img-rounded"></p>
                                    <p>Beth</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>