#cms-information .page-header {
    background-image: url(https://www.opencart.com/application/view/image/banner/feature.jpg);
    display: flex;
    align-items: center;
}
.page-header {
    height: 250px;
    margin: 80px 0 60px;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0;
    padding-bottom: 11.5px;
}
#cms-information #information-details h2 {
    margin-top: 0;
    text-align: center;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
#cms-information #information-details .container {
    margin-top: 50px;
    margin-bottom: 50px;
}
#cms-information #information-details p {
    color: #4b525d;
}
#cms-information #information-details h2 {
    margin-top: 0;
    text-align: center;
}
p {
    margin: 0 0 12.5px;
}
.gray, .container-fluid {
    background-color: #f4f5f7;
    padding-top: 20px;
    padding-bottom: 20px;
}
.col-xs-12 {
    width: 100%;
}
#cms-information #information-details #about #team p {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
#cms-information #information-details p {
    color: #4b525d;
}
#cms-information #information-details #about #team .img-rounded {
    border-radius: 150px;
    max-width: 200px;
}
#cms-information #information-details #about #milestone #timeline {
    text-align: center;
}
#cms-information #information-details #about #milestone #timeline+div h3 {
    font-size: 20px;
    margin-top: 10px;
}
#cms-information #information-details #about #milestone #timeline+div .event {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 300;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
#cms-information #information-details #about #milestone #timeline+div::before {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 4px;
    margin-left: -14%;
    background-color: #01afe8;
    z-index: 1;
}
.col-xs-4 {
    width: 33.33333%;
}
@media screen and (min-width: 1200px){
#cms-information #information-details #about #milestone #timeline+div::before {
    margin-left: -114px;
}
}
@media screen and (max-width: 767px){
#cms-information #information-details #about #team .img-rounded {
    max-width: 120px;
}
}
.col-xs-2 {
    width: 16.66667%;
}
.col-xs-10 {
    width: 83.33333%;
}
@media screen and (min-width: 768px) {
#cms-information #information-details #about #milestone #timeline+div::before {
    margin-left: -80px;
}
}
#cms-information #information-details #about #milestone #timeline .label i.fa-bar-chart {
    padding: 9px 8px;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.fa-bar-chart-o:before, .fa-bar-chart:before {
    content: "\f080";
}
.label-success {
    background-color: #7ac438;
}
.label-warning {
    background-color: #f1c118;
}
@media (min-width: 992px){
.col-md-offset-2 {
    margin-left: 16.66667%;
}
#cms-information #information-details #about #milestone #timeline+div::before {
    margin-left: -110px;
}
.col-md-offset-1 {
    margin-left: 8.33333%;
}
.col-md-2 {
    width: 16.66667%;
}
.col-md-8 {
    width: 66.66667%;
}
}
#cms-information #information-details #about #milestone #timeline .label.label-check {
    padding: 12.5px 3px;
}
#cms-information #information-details #about #milestone #timeline .label {
    position: relative;
    z-index: 2;
    border-radius: 50px;
    padding: 11.5px 3px;
}
.label-primary {
    background-color: #01afe8;
}
#cms-information #information-details #about #milestone #timeline .label i {
    border: 2px solid #f4f5f7;
    border-radius: 50px;
    padding: 9px;
}
#cms-information #information-details #about #milestone #timeline+div {
    padding-bottom: 40px;
}
.page-header div h1 {
    font-size: 40px;
    margin: 0;
    color: #fff;
}